body {
  font-family: "Georgia", serif;
  font-size: 1.15em;
  letter-spacing: 1px;
  line-height: 160%;
  font-style: normal;
  text-rendering: optimizelegibility;
  color: #333;
  padding: 20px;
}

a:focus, a:hover {
  color: #0088cc;
  text-decoration: underline;
}

a {
  color: #333;
  text-decoration: underline;
}

p {
    padding: 5px 0 5px 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Arial", "Helvetica";
    font-weight: 550;
    padding-bottom: 5px;
    letter-spacing: -1px;
}

h1 {
  font-size: 1.4em;
}

h1 a, h1 a:focus, h1 a:hover {
  color: #333;
  text-decoration:none;
}

h2 {
  font-size: 2.0em;
  font-weight: 900;
}

h3 {
  font-size: 1.7em;
  font-weight: 800;
}

h4 {
  font-size: 1.5em;
  font-weight: 700;
}

h5 {
  font-size: 1.4em;
}

h6 {
  font-size: 1.15em;
}

li {
  margin-bottom: 15px;
}

ul, ol {
  margin-bottom: 50px;
}

table, th, td {
  width: 100%;
  table-layout: fixed;
  padding: 10px;
}

table {
  border-top: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

thead {
  background-color: #fbfbfb;
}

tr:nth-child(even) {
  background-color: #fbfbfb;
}

th {
  font-family: "Arial", "Helvetica";
}

pre {
  margin: 15px 0 25px 0;
  padding: 15px 25px 15px 25px;
  color: #181818;
  background-color: #fbfbfb;
  border: 1px solid #f1f1f1;
  border-radius: 0px;
  white-space: pre-wrap;
}

blockquote {
  padding: 0 25px 0 25px;
  margin: 15px 0 25px 0;
  border-left: 1px solid #f1f1f1;
  color: #181818;
  background-color: #fbfbfb;
}

amp-img {
  height: auto;
  max-width: 100%;
  border: 1px solid #f1f1f1;
  display: block;
  margin: 0 auto;
}

figure {
  font-family: "Arial", "Helvetica";
  font-size: 80%;
  text-align: center;
  margin: 50px 0 10px 0;
}
figcaption {
  color: #b8babf;
}

article {
  margin-top: 10px;
  padding-bottom: 50px;
}

article h1 {
  font-size: 3.0em;
  /* https://stackoverflow.com/questions/14431411/ */
  font-size: calc(100% + 3.0vw);
  font-weight: bold;
}

article h2, article h3 {
  margin-top: 50px;
}

article h4, article h5, article h6 {
  margin-top: 25px;
}

article p a {
  /*  color: */
  text-decoration: underline;
}

hr {
  margin: 25px 0 25px 0;
  color: #fbe8e7;
}

time {
  font-family: "Arial", "Helvetica";
  color: #b8babf;
}

.admonition {
  margin: 10px 0 10px 0;
  padding: 10px;
}

.admonition p {
  margin: 0;
}

.admonition-title {
  display: none;
}

.error {
  border: 1px solid #fbe8e7;
  background-color: #fdf5f5;
}

.error p {
  color: #645c5c;
}

.notice {
  border: 1px solid #f3efa0;
  background-color: #faf8d9;
}

.notice p {
  color: #615f40;
}

.info {
  border: 1px solid #dbe7ec;
  background-color: #eaf1f4;
}

.info p {
  color: #575c5e;
}

.success {
  border: 1px solid #cfebcf;
  background-color: #f3faf3;
}

.success p {
  color: #525e52;
}

.toc {
  border: 1px solid #f1f1f1;
  margin-bottom: 50px;
  padding: 15px 0 15px 0;
}

.toc li, .toc ol {
  margin: 0;
  padding: 0;
}

.toc ul {
  list-style-type: none;
  margin: 0;
  padding-left: 25px;
}

