{#
Hold common templating functionality for all the templates

http://jinja.pocoo.org/docs/dev/templates/#import

#}

{% macro article(instance) %}
  {#

  https://schema.org/Blog

  #}
  <article class="body" itemscope itemtype="https://schema.org/BlogPosting" itemid="{{instance.url}}">
    <header>
      <h1 itemprop="name"><a itemprop="url" href="{{instance.url}}">{{ instance.title }}</a></h1>
    </header>

    <section itemprop="articleBody">
      {{ instance.html }}
    </section>

    <footer>
      <meta itemprop="dateModified" content="{{ instance.modified.strftime('%Y-%m-%dT%H:%M:%S.%fZ') }}">
      <time datetime="{{ instance.created.strftime('%Y-%m-%dT%H:%M:%S.%fZ') }}" class="metadata" itemprop="dateCreated">
          {{ instance.created.strftime('%b %d %Y') }}
      </time>
    </footer>
  </article>
{% endmacro %}


{% macro articles(instances) %}
  {% for instance in instances %}
    {{ article(instance) }}
  {% endfor %}
{% endmacro %}

