<!DOCTYPE html>
<html lang="{{ config.lang }}">
  <head>
    <meta charset="{{ config.encoding }}" />
    <title>{% block title %}{% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />

    {% block description %}{% endblock %}

    {% block amp %}{% endblock %}

    <!--

    <link rel="icon" href="/favicon.ico" type="image/x-icon" sizes="16x16" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">

    -->
    <link rel="stylesheet" href="/assets/template.css" type="text/css" media="screen, projection">

  </head>

  <body>
    <div id="header"></div>
    {% block content %}{% endblock %}
    <div id="footer"></div>
  </body>
</html>

