<!DOCTYPE html>
<html lang="{{ config.lang }}">
  <head>
    <meta charset="{{ config.encoding }}" />
    <title>{% block title %}{% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />

    {% block description %}{% endblock %}

<!--    <link rel="icon" href="/favicon.ico" type="image/x-icon" sizes="16x16" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">

    < ! For code syntax highlighting, see: http://highlightjs.org - -
    <link rel="stylesheet" href="//yandex.st/highlightjs/8.0/styles/default.min.css">
    <script src="//yandex.st/highlightjs/8.0/highlight.min.js"></script>

    <link rel="stylesheet" href="/assets/app.css" type="text/css" media="screen, projection">-->
  </head>

  <body>
    <div id="header"></div>
    {% block content %}{% endblock %}
    <div id="footer"></div>

    <script>
      hljs.initHighlighting()
    </script>
  </body>
</html>

